/* reset padding, border and margin properties of all elements to avoid conflict with default browser stylesheet */
body, div, canvas, h1, h2 {
    padding: 0;
    border: 0;
    margin: 0;
}
/* workaround to ensure canvas can be viewd from any screen */
body, html {
	width: 100%;
	height: 100%;
	margin: 0px;
}
#rules {
	display: none;
}